body{
	background-color: #EDEDED;
}
input[type='submit']{
	background-color: #323232;
	border-radius: 13px;
	padding: 8px 25px 8px 25px;
	color: #EDEDED;
	font-family: comfortaa;
	font-size: 13px;
	margin: 10px;
	cursor: hand;
}
div{
/*     border: 1px solid #000;
 */}
img#logo{
	height: 100px;
	margin: auto;
}	
.desc{
	text-align: center;
	font-family: comfortaa;
	font-size: 19px;
	font-weight: bold;
}
.navbar{
	background-color: #323232;

}
a{
	font-family: comfortaa;
	text-decoration: none;
	color: #ededed;
}
a:hover{
	color: #ededed;
	text-decoration: none;
}
.createlink{
	text-align: left;
	font-family: comfortaa;
	font-size: 19px;
	font-weight: bold;
	text-decoration: none;	
	padding-left: 70px;
	color: #515151;
}
table td, table td{
	text-align: center;
	padding: 0px 50px 0px 50px;
/* 	border: 1px solid #000;
 */	height: 100%;
}
img#dots{
	height: 50px;
	margin-right: 20px;
}
img#logo_header{
	height: 50px;
	margin-left: 20px;
}
table#desc tr td{
	height: 100%;
	padding: 15px;
	font-family: comfortaa;
	font-weight: bold;
	font-size: 18px;
}
div#menu{
	background-color: #323232;
	font-family: comfortaa;
	color: #EDEDED;
	padding: 20px 0px 0px 10px;
	margin-top: 20px;
}
div#menu a{
	font-size: 18px;
}
div#sidebar{
	background-color: #323232;
	color: #ededed;
	font-family: comfortaa;
	padding: 20px;
	margin-top: 20px;
}	
div.user_actions{
	padding: 20px;
	color: #ededed;
	font-family: comfortaa;
	background-color: #444;
}
div.user_actions:hover{
	background-color: #323232;
}
div#announcements{
	margin-top: 20px;
	margin-left: 20px;
}