#content{
	border-left: 2px solid #F9F9F9;
	border-right: 2px solid #F9F9F9;
	box-shadow: 3px 3px 5px #F9F9F9;
	height: 100%;
}
#header{
	background-color: #323232;
/* 	border: 1px solid #000;
 */}
body{
/*  	background-color: #EDEDED;
 */ }
input[type='submit']{
	background-color: #323232;
	border-radius: 13px;
	padding: 8px 25px 8px 25px;
	color: #EDEDED;
	font-family: comfortaa;
	font-size: 13px;
	margin: 10px;
	cursor: hand;
}
div{
/*     border: 1px solid #000;
 */}
img#logo{
	height: 100px;
	margin: auto;
}	
.desc{
	text-align: center;
	font-family: comfortaa;
	font-size: 19px;
	font-weight: bold;
}
a{
	font-family: comfortaa;
	text-decoration: none;
	color: #ededed;
}
a:hover{
	color: #ededed;
	text-decoration: none;
}
img#dots{
	height: 50px;
	margin-right: 20px;
}
img#logo_header{
	height: 50px;
	margin-left: 20px;
}
table#desc tr td{
	height: 100%;
	padding: 15px;
	font-family: comfortaa;
	font-size: 16px;
	color: #FFF;
}