
textarea{
	width: 100%;
}
p.date_posted{
	font-size: 10px;
	text-align: right;
}
input[type="submit"].class{
	background-color: #FFF;
	border: 0px;
	padding: 2px;
}
#div_forums{
	margin-left: 15px;
}