input[type='submit'].action{
	font-size: 10px;
	margin: 0px;
	padding: 2px 20px;
}
textarea{
	width: 100%;
}
p.date_posted{
	font-size: 10px;
	text-align: right;
}
input[type="submit"].class{
	background-color: #FFF;
	border: 0px;
	padding: 2px;
}